@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500;600&display=swap');

header{
  padding: 24px;
  text-align: center;
  height: 0px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 22px;
  letter-spacing: 0.1e;
}

.header_logo {
  margin: 0px;
  
  color: #f0ece4;
}

.header_logo span {
  color: #ff501e;
  margin-left: 6px;
}